requests
psycopg2-binary
python-dotenv
langchain
langchain-community
langchain-pinecone
langchain-openai
langchain-core
Flask
Flask-SQLAlchemy
azure-identity
openai
gspread
google-auth
google-api-python-client